body {
  position: relative;
  height: 120vh;
  width: 100vw;
  overflow: hidden;
  background: #a1d1fa;
  perspective: 1000px;
  transform-style: preserve-3d;
}
body:before, body:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #352a1c;
}
body:before {
  box-shadow: inset 0px 10px 150px #241d13;
}
body:after {
  bottom: auto;
  top: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #ffffff 0%, transparent 100%);
}
body .ballotwrap {
  position: absolute;
  width: 420px;
  height: calc(50% - 85px);
  overflow: hidden;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
}
body .ballotwrap .ballot {
  position: absolute;
  width: 320px;
  height: 300px;
  text-align: center;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: -300px;
  transition: 1s ease-out;
}
body .ballotwrap .ballot:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: #ce0010;
}
body .ballotwrap .ballot h1 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background: #085394;
  margin-top: 0px;
  padding: 0.5em 0;
  letter-spacing: 0.25em;
}
body .ballotwrap .ballot span {
  display: block;
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  color: #231f20;
  font-family: "Dosis";
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .ballotwrap .ballot i {
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-top: 2.5px;
}
body .container {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1000px;
  transform: translateX(-50%) translateY(-50%);
}
body .container #cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
  box-shadow: 0px 150px 150px 20px rgba(0, 0, 0, 0.5);
}
body .container #cube .front {
  transform: rotateY(0deg) translateZ(200px) translateX(-2px);
  background: #b0926d;
  width: 400px;
}
body .container #cube .front .eye {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #352a1c;
  left: 20%;
  top: 20%;
  border-radius: 100%;
}
body .container #cube .front .eye:nth-of-type(2) {
  left: auto;
  right: 20%;
}
body .container #cube .front .mouth {
  position: absolute;
  width: 100px;
  height: 20px;
  background: #352a1c;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  border-radius: 40px 40px 40px 40px;
  transition-delay: 1s;
  transition: 0.2s ease-in-out;
}
body .container #cube .back {
  transform: rotateX(180deg) translateZ(180px);
  background: #775e40;
}
body .container #cube .right {
  transform: rotateY(90deg) translateZ(200px);
  background: #876b49;
}
body .container #cube .left {
  transform: rotateY(-90deg) translateZ(200px);
  background: #876b49;
}
body .container #cube .top {
  transform: rotateX(90deg) translateZ(100px) translateY(222.5px) translateX(23px);
  background: #a7865c;
  height: 140px;
  width: 350px;
}
body .container #cube .top2 {
  transform: rotateX(90deg) translateZ(100px) translateY(-23px) translateX(15px);
  background: #a7865c;
  height: 160px;
  width: 366px;
}
body .container #cube .top3, body .container #cube .top4 {
  transform: rotateX(90deg) translateZ(100px) translateY(-23px) translateX(2px);
  background: #a7865c;
  height: 190px;
  width: 70px;
}
body .container #cube .top4 {
  transform: rotateX(90deg) translateZ(100px) translateY(-23px) translateX(323px);
}
body .container #cube figure {
  margin: 0;
  width: 396px;
  height: 196px;
  display: block;
  position: absolute;
  z-index: 3;
}
body .container #cube figure div {
  z-index: 3;
}
body .container #cube figure h1 {
  font-size: 5em;
  font-family: "Oswald", sans-serif;
  color: #b0926d;
  letter-spacing: 0.25em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 7.5px;
  transform: translateX(-50%) translateY(-100%);
}
body.wink .murica {
  transition: 0.3s ease-in-out;
  transition-delay: 1s;
  opacity: 1;
}
body.wink .ballotwrap .ballot {
  animation: drop 4s ease-in-out forwards;
}
@keyframes drop {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    transform: translateX(-50%) translateY(275%);
  }
}
body.wink .container #cube .front .mouth {
  transition-delay: 0.8s;
  height: 60px;
  border-radius: 10px 10px 50px 50px;
}
body.wink .container #cube .front .eye:nth-of-type(1) {
  animation: wink 0.3s ease-in-out 1;
  animation-delay: 0.5s;
}
@keyframes wink {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.2) scaleX(1.4);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
body #grad {
  position: relative;
  width: 100%;
  height: 100%;
}
body #grad:after, body #grad:before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, black 50%, black), linear-gradient(82deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(67deg, transparent 50%, #000000 50%, #000000), linear-gradient(52deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(37deg, transparent 50%, #000000 50%, #000000), linear-gradient(22deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(7deg, transparent 50%, #000000 50%, #000000), linear-gradient(-8deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-23deg, transparent 50%, #000000 50%, #000000), linear-gradient(-38deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-53deg, transparent 50%, #000000 50%, #000000), linear-gradient(-68deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-83deg, transparent 50%, #000000 50%, #000000), linear-gradient(-90deg, transparent 50%, #12E0DB 50%, #12E0DB);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
}
body :before {
  left: 50%;
  transform: rotate(180deg);
}
body .murica {
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 150vw;
  height: 150vw;
  z-index: -1;
  left: 50%;
  top: 50%;
  animation: rotating 20s linear infinite;
}
@keyframes rotating {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
body .murica:after, body .murica:before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(82deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(67deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(52deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(37deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(22deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(7deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-8deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(-23deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-38deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(-53deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-68deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(-83deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-90deg, transparent 50%, #ffffff 50%, #ffffff);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
  box-shadow: inset -5px 0px #ffffff, inset 5px 0px #ffffff;
}
body .murica:before {
  left: 50%;
  transform: rotate(180deg);
}
/*# sourceMappingURL=vote-success.css.map */




.container-animated{
  width: 100%;
}
.border-animation {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: #fff;
  color: var(--color);
  position: relative;
  display: inline-block;
  font-size: 4em;
  line-height: 1em;
  transform: scale(1, 0.8);
  border: var(--border-width) solid transparent;
}
.border-animation .border-animation__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: 'Six Caps', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0.2em;
  z-index: 1;
  border: solid var(--border-width) transparent;
}
.border-animation:before, .border-animation:after {
  content: '';
  position: absolute;
  background: var(--color);
}
.border-animation:focus:before, .border-animation:hover:before {
  animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}
.border-animation:focus:after, .border-animation:hover:after {
  animation: afterBorders var(--animation-speed) forwards ease-in-out;
}
.border-animation:focus, .border-animation:hover {
  animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}
.border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
  animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
  animation-delay: calc(var(--animation-speed) / 5 * 2);
}
@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
@keyframes background {
  to {
    background: #F4623A;
    text-shadow: 0 0.1em 0.1em #111;
  }
}

@media (min-width: 1200px) {
  .border-animation {
    font-size: 6em;
    line-height: 1em;
  }
}
#contact > div > div:nth-child(2) > div.col-lg-4.ml-auto.text-center.mb-5.mb-lg-0 > i {
  color : black !important;
}
#contact > div > div:nth-child(2) > div.col-lg-4.mr-auto.text-center > i {
  color: black !important;
}
