@media (min-width: 200px) and (max-width: 767px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .row img {
        width: 334px;
    }

    .masthead {
        background: white !important;
        padding-top: 12px !important;
        height: 40vh !important;
    }

    .page-section .container {
        margin-top:350px;
    }
}
